name: gemini_vision
description: A new Flutter project for inclusive learning.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_generative_ai: ^0.4.0
  flutter_dotenv: ^5.1.0
  image_picker: ^1.1.2
  google_fonts: ^6.2.1
  flutter_markdown: ^0.7.7+1
  flutter_markdown_latex: ^0.3.4
  markdown: ^7.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - .env